@tailwind base;
@tailwind components;
@tailwind utilities;
 
/*    * {
  outline: 1px solid red;
}   
 */

 @font-face {
  font-family: "Radwave";
  src: url("/fonts/RadwaveFont-Demo.otf");
}

 @layer base {
  html {
    font-family: "Fira Code", monospace;
  }
}
 
body {
  overflow-x: hidden
}

.text-decoration:before {
  position: absolute;
  content: '/*';
  top: -50px;
  left: 10px;
  font-size: 1rem;
  opacity: .40;
  color: inherit;
}

.text-decoration:after {
  position: absolute;
  content: '*/';
  left: 10px;
  bottom: -50px;
  font-size: 1rem;
  opacity: .40;
  color: inherit;
}

.lock-scroll {
  overflow: hidden;
}

.link-decoration {
  transition: all .5s ease;
}

.link-decoration:before {
  position: absolute;
  inset: 0;
  left: 15px;
  top: 3px;
  height: 70%;
  content: '';
  background-color: pink;
  transform: scaleX(0);
  transform-origin: left;
  transition: all .5s ease;
  opacity: 0;
}

.link-decoration:hover:before {
  transform: scaleX(1) skew(-25deg);
  opacity: 1;
} 
